/*
//Spencer Echon
//DTC 477 Major Project
*/

/* -- load google font -- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  /* -- https://cssgradient.io/ -- */
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #a1c4fd;
}

a.navbar-brand:hover {
  color: #007bff;
}

#search-btn {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  border: none;
}

#search-btn:hover {
  background-image: linear-gradient(120deg, #c2e9fb 25%, #a1c4fd 75%);
}

.btn-custom {
  margin: 10px 0;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  border-color: $fff;
  border: none;
  color: black;
}

.btn-custom:hover {
  background-image: linear-gradient(120deg, #c2e9fb 25%, #a1c4fd 75%);
}

.btn-link {
  color: #f9f9f9;
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: none;
}

.bg-custom {
  background-color: #32383e;
}

.shadow-custom {
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

thead {
  color: #6588af;
}

tbody:hover {
  background-color: #c2e9fb;
  opactity: 60%;
}

tbody.a:hover {
  color: black;
}

.table-custom {
  border-radius: 15px;
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  color: #6588af;
}

.jumbotron-custom {
  border-radius: 15px;
  margin-top: 20px;
  background-color: #fff !important;
}